.task-icon {
    position: relative;
    display: block;
    width: 100%;
  }

  .cdk-drag-preview {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-preview .tooltip {
    display: none !important;
  }

  .task-icon.yellow { 
    background: #ffd700 !important; 
    border-radius: 6px;
  }

  .task-icon.orange {
    background: #ff7e06;
    border-radius: 6px;
  }
  
  .task-icon.red { 
    background: #ff4d4d !important; 
    border-radius: 6px;
  }

  .task-button-transparent {
    border: none;
    background: transparent;
    box-sizing: border-box;
    width: 100%;    
    height: 100%;  
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sort {
    margin-right: auto;
    font-size: 85%;
    background-color: rgb(245, 245, 245);
  }
  priority-high, .高 {
    color: #ff4d4d;          /* 文字色：赤 */
  }
  
  .priority-medium, .中 {
    color: #ff9f43;          /* 文字色：オレンジ */
  }
  
  .priority-low, .低 {
    color: #2bbf69;          /* 文字色：緑 */
  }

